<span class="row">

  <span class="col-md-6">
    <%= render 'profile' %>
  </span>

  <span class="col-md-4">
    <%= render 'news_info' %>
  </span>

  <span class="row">
    <span class="col-md-12">
      <section class="micropost_form">
        <%= render 'shared/tome_micropost' %>
      </section>
    </span>
  </span>
  
  <span class="row">
    <span class="col-md-12">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </span>
  </span>
  
</span>
