<div style="font-size:2em; text-align:center;"><hr>今日のピックアップタグ<hr></div>

<a href="tags/show?id=89"><div class="tag_view2 tag_view"><div>オリジナル</div></div></a>
<a href="tags/show?id=2"><div class="tag_view1 tag_view"><div>ロリ</div></div></a>
<a href="tags/show?id=45"><div class="tag_view3 tag_view"><div>艦これ</div></div></a>
<a href="tags/show?id=92"><div class="tag_view4 tag_view"><div>靴下</div></div></a>
<a href="tags/show?id=38"><div class="tag_view5 tag_view"><div>白タイツ</div></div></a>
<a href="tags/show?id=1"><div class="tag_view6 tag_view mobile_only"><div>季節絵</div></div></a>




<% for i in 0..100 %>
        <% break if @tags[i]==nil %>
        <%= link_to "#{Tag.find_by(id:@tags[i][0]).name}(#{@tags[i][1]})", tags_show_path(id: @tags[i][0]),class:"btn-success btn" %>
        <% i += 1 %>
        <% if i % 3 == 0 && @tags[i]!=nil %>
        <% end %>
<% end %>
    