<div class="col-sm-12" style="text-align:center;">
<%= 
if current_user[:avatar]==nil 
    link_to gravatar_for(current_user, size: 90), current_user
else 
    link_to (image_tag current_user.avatar, :size => '150'), current_user
end
%>
</div>


<div class="col-sm-12">
    <hr>
    <%= link_to "マイページ", current_user,class:"btn btn-info col-ms-4" %>
    <%= link_to "フォロー：" +  current_user.following_users.count.to_s, following_user_url(current_user), class: "btn btn-primary col-ms-4" %>
    <%= link_to "フォロワ：" +  current_user.follower_users.count.to_s, followers_user_url(current_user), class: "btn btn-primary col-ms-4" %>
</div>