@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.pageContents{
  background-color:rgba(255,255,255,0.7);
}
.allbody{
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100% auto;
}

.select_box{
  margin-top: 20%;
  height: 350px;
  background-color: rgba(255,255,255,0.9);
}
.select_box2{
  margin-top: 20%;
  height: 350px;
  background-color: rgba(255,255,255,0.9);


}

.fun{
  margin-top: 40px;
}
.creator{
  margin-top: 20px;
}
.select_login{
  margin-top: 60px;
  height: 50px;
  line-height: 38px;
}


.bgslideshow { position: fixed; left:0; top:0; z-index: -1; height: 100%; width: 100%; }  
.bgslideshow img { position: absolute; min-height: 100%; min-width: 800px; width: 100%; height: auto;left:0; top:0; }

#logo2 {
  float: left;
  margin-right: 10px;
  font-size: 2.4em;
  color: black;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo3 {
  text-align: center;
  
  float: left;
  margin-right: 10px;
  font-size: 5em;
  color: black;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
.tag_view{
  display: inline-block;
  height: 400px;
  margin: -2px;
  padding: 0px;
  width: 20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  
}
.tag_view1{background-image:image-url("default_picture/texinkuru_p.jpg");}
.tag_view2{background-image:image-url("default_picture/fujima_p.jpg");}
.tag_view3{background-image:image-url("hibiki.jpg");}
.tag_view4{background-image:image-url("kutusita.jpg");}
.tag_view5{background-image:image-url("siro.jpg");}
.tag_view6{background-image:image-url("default_picture/asaiumi_p.jpg");}
.tag_view > div{
    width: 100%;
    height: 100px;
    background-color: rgba(225, 237, 255, 0.8);
    margin-top: 300px;
    font-size: 2.5em;
    vertical-align:center;
    text-align: center; 
    font-style: italic;
    font-variant: small-caps;
    color: #DAA520;
    
}
.string{
  text-align: center; 
  font-size: 1.2em;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  font-variant: small-caps;
  color: #DAA520;
  text-shadow: 2px 2px #fff, 3px 3px rgba(0, 0, 0, 0.15);
}



@media (min-width: 768px) {
    .mobile_true{
         display:none;
         
    }
    .mobile_only{
         display:none;   
    }
    .pc_none{
         display:none;
    }
}

@media (max-width: 768px) {
    .myprof{
        margin: 0px;
        padding: 0px;
        
    }
    .mobile_none{display:none;}
    nav{display: inline-block;}
    nav > ul li{
      clear:both;
      display: inline-block;
    }
    
    .tag_view{
        display: inline-block;
        height: 200px;
        margin: -2px;
        padding: 0px;
        width: 33.3%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tag_view1{background-image:image-url("default_picture/texinkuru_p.jpg");}
    .tag_view2{background-image:image-url("default_picture/fujima_p.jpg");}
    .tag_view3{background-image:image-url("hibiki.jpg");}
    .tag_view4{background-image:image-url("kutusita.jpg");}
    .tag_view5{background-image:image-url("siro.jpg");}
    .tag_view6{background-image:image-url("default_picture/asaiumi_p.jpg");}


    .string{
        text-align: center; 
        font-size: 0.5em;
        font-family: 'Indie Flower', cursive;
        font-style: italic;
        font-variant: small-caps;
        color: #DAA520;
        text-shadow: 2px 2px #fff, 3px 3px rgba(0, 0, 0, 0.15);
    }
    .tag_view > div {
        width: 100%;
        height: 50px;
        background-color: rgba(225, 237, 255, 0.8);
        margin-top: 150px;
        font-size: 1em;
        vertical-align: center;
        text-align: center;
        font-style: italic;
        font-variant: small-caps;
        color: #DAA520;
    }
}