@media (max-width: 992px) {
    .select_box{
        height:500px;
    }
}

@media (min-width: 768px) {
    .mobile_true{
         display:none;
         
    }
    .mobile_only{
         display:none;   
    }
    .pc_none{
         display:none;
    }
    .select_box{
        height:450px;
    }
}

@media (max-width: 768px) {
    .myprof{
        margin: 0px;
        padding: 0px;
        
    }
    .mobile_none{display:none;}
    nav{display: inline-block;}
    nav > ul li{
      clear:both;
      display: inline-block;
    }
    
    .tag_view{
        display: inline-block;
        height: 200px;
        margin: 2px;
        padding: 0px;
        width: 30.3%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    
    .tag_view1{background-image:image-url("default_picture/texinkuru_p.jpg");}
    .tag_view2{background-image:image-url("default_picture/fujima_p.jpg");}
    .tag_view3{background-image:image-url("default_work/karory_w.jpg");}
    .tag_view4{background-image:image-url("default_work/sakura_w.jpg");}
    .tag_view5{background-image:image-url("default_work/kami_w.jpg");}
    .tag_view6{background-image:image-url("default_work/matarou_w.jpg");}


    .string{
        text-align: center; 
        font-size: 0.5em;
        font-family: 'Indie Flower', cursive;
        font-style: italic;
        font-variant: small-caps;
        color: #DAA520;
        text-shadow: 2px 2px #fff, 3px 3px rgba(0, 0, 0, 0.15);
    }
    .tag_view > .nam {
        overflow: hidden;
        width: 100%;
        height: 20px;
        background-color: gray;
        margin-top: 0px;
        font-size: 1.0em;
        vertical-align: center;
        text-align: center;
        font-variant: small-caps;
        color: white;
    }
    .tag_view > .about {
        display:none;
    }
    


    .sita{
        height: 600px;
    }
    .login_box{
        height: 400px;
    }

}
